 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 418px;
}

.u-section-1 .u-image-1 {
  width: 703px;
  height: 427px;
  margin: -9px -226px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -343px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 1rem;
  margin: 20px 706px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 106px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 207px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -394px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

.u-section-2 .u-text-1 {
  margin: 59px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  min-height: 232px;
  grid-gap: 24px 24px;
  grid-auto-columns: calc(33.3333% - 16px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 10px 25px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  margin: 27px 0 0 20px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px 25px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  margin: 27px 0 0 20px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px 25px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  margin: 27px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 190px;
    grid-auto-columns: calc(33.333333333333336% - 16px);
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 469px;
    grid-auto-columns: calc(50% - 12px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 343px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 70px 112px 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}